.about {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.about h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #162447;
}

.about p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: #162447;
}

@media (max-width: 768px) {
  .about h1 {
    font-size: 2rem;
  }
  .about p {
    font-size: 1rem;
  }
}
